{% extends 'base.html' %}

{% block content%}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 d-flex align-items-center" style="height:600px;">
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="id_username" class="form-label">Username:</label>
                <input type="text" class="form-control" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
            </div>
            <div>
                <label for="id_password" class="form-label">Password:</label>
                <input type="password" class="form-control" name="password" autocomplete="current-password" required="" id="id_password">
            </div>
            <button type="submit" class="btn btn-primary mt-3">LOGIN</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}